<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
</head>
<body>

<div class="container">
    <h1>Hello World!</h1>
    <p>paragraph</p>
    <a href="/login">
        <button class="btn btn-primary">Войти</button>
    </a>
</div>

</body>
</html>